<div class="min-h-screen p-25">
  <a routerLink="" class="text-gray-500 hover:text-accent mb-8 block">← Back to Directory</a>

  <header class="flex items-center gap-6 mb-12">
    <div class="w-20 h-20 rounded-2xl shadow-2xl"></div>
    <div>
      <h1 class="text-6xl font-black uppercase tracking-tighter">{{ brandName }}</h1>
      <p class="text-cg-accent font-medium">10 community members</p>
    </div>
  </header>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-12">
    <div class="p-8 rounded-2xl border-accent card border">
      <h3 class="mb-2">Available Models</h3>
      <p class="text-4xl font-bold">{{ curModels.length }}</p>
    </div>
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6 z-10">
    <div *ngFor="let model of curModels" class="card border border-accent hover:border-cg-primary transition-all duration-300 group cursor-pointer p-8">
      <div class="w-12 h-12 rounded-lg mb-6 shadow-lg"></div>
      <h3 class="text-xl font-bold mb-2">{{ model.name }}</h3>
      <div class="flex items-center gap-2 text-sm text-gray-500 mb-6">
        <span>{{ model.type }}</span>
        <span class="opacity-30">•</span>
        <span>{{ model.year }}</span>
      </div>
      <a class="text-cg-accent font-semibold flex items-center gap-1 group-hover:gap-2 transition-all"
         href="">
        Explore <span class="text-lg">›</span>
      </a>
    </div>
  </div>
</div>
